<!DOCTYPE html>
<html>
    <body style="background-image: url(https://images.pexels.com/photos/1755/purple-abstract-blur-bokeh.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
        <div class="row jumbotron vertical-center-row">
            <h1 style="font-size:40px; font-family:'Courier New'" align="center">IpInfo</h1>
            <br>
            <br>
            <div class="row">
                <div class = "panel panel-default panel-cust" style="width:100%;">
                    <div>
                        <h2 align="center">Ip Address</h2>
                        <h4 align="center">ipAddress</h4>
                    </div>
                    <br>
                    <br>
                    <div>
                        <h2 class="desc" align="center">Description</h2>
                        <p align="center">ipDetails</p>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <footer align="center" style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;">
            <div class="creditSection">
                <div class="col-md-12 text-center mt-4">
                    <p>Designed with <span class="heart" style="color: red; font-size: 22px;"> &hearts; </span> by AD Tech</p>
                </div>
            </div>
            
            <div class="copyrightSection">
                <div class="col-md-12 text-center">
                    <p>&copy; 2020 AD Tech Pvt. Ltd., All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </body>
</html>